*,
*:after,
*::before {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

  :root {
    --off-white: #f6f3ea;
    --near-black: #252934;
    --black: #333333;
    --last-orange: #ee7752;
    --green-blue: #23d5ab;
    --blue: #23a6d5;
    --light-blue: #3498db;
    --dark-blue: #2980b9;
  }

  /* General styles and layout */

  body {
  	background: var(--dark-blue);
  	color: #fff;
  	font-family: 'Lato', Arial, sans-serif;
  }
  .container {
  	overflow: hidden;
    /* Prevent psuedo-elements from showing */
  }
  .container svg {
  	display: block;
  }
  section {
  	position: relative;
  	padding: 10em 10%;
  	background: var(--dark-blue);
  	color: #fff;
  	text-align: center;
  }
  section h2 {
  	margin: 0;
  	padding: 0;
  	font-size: 2.8em;
  	font-weight: 400;
  }
  section p {
  	color: rgba(0,0,0,.3);
  	font-size: 1.3em;
  	line-height: 1.5;
  }
  .text:first-child {
  	text-align: right;
  }
  .text:nth-child(2) {
  	text-align: left;
  }
  .col-2 .column {
  	width: 49%;
  }
  .col-3 .column {
  	padding: 0 1%;
  	width: 33%;
  	text-align: center;
  }
  .col-3 .column p {
  	padding: 1.4em;
  }
  .column {
  	display: inline-block;
  	vertical-align: top;
  }
  .icon {
  	display: block;
  	width: 2em;
  	height: 2em;
  	border-radius: 50%;
  	background: rgba(0,0,0,0.1);
  	color: #fff;
  	text-align: center;
  	font-size: 8em;
  	line-height: 2em;
  	margin: 0 auto;
  }
  section.color h2 {
  	color: #fff;
  }
  /* header {
  	font-family: 'Lato', Arial, sans-serif;
  	color: #000;
  	background: #FFF;
  }
  header {
  	margin: 0 auto;
  	padding: 5.5em 2em 7em;
  	text-align: center;
  }
  header h1 {
  	font-size: 2.625em;
  	line-height: 1.3;
  	margin: 0;
  	font-weight: 300;
  }
  header span {
  	display: block;
  	font-size: 60%;
  	opacity: 0.7;
  	padding: 0 0 0.6em 0.1em;
  } */
  .color {
  	background: var(--light-blue);
  }
  body {
    margin: 0;
  }
  html {
    font-family: 'futura-pt', helvetica, san-serif;
    font-size: 100%;
    color: rgba(12, 12, 10, 0.8);
    font-weight: 400;
  }
  h1 {
    font-size: 2.6em;
  }
  h1 span {
    color: var(--off-white);
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--black);
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: #111;
  }
  form {
    width: 75%;
    margin: 25px auto 0 auto;
    color: var(--off-white);
  }
  form h1 {
    margin: 0 0 25px 0;
    line height: 2em;
    padding-top: 1em;
  }
  form div {
    margin: 0 0 20px 0;
  }
  form div:last-of-type {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(215,255,185,.4)
  }
  form input,
  form textarea {
    padding: 5px 12px;
    width: 80%;
    color: #fff;
    font-size: .9em;
    background-color: rgba(246, 243, 234,.8);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  form input[type="submit"] {
    width: auto;
    padding: 5px 20px;
    cursor: pointer;
  }
  form input[type="radio"] {
    width: auto;
    margin-right: 5px;
  }
  form input:focus,
  form textarea:focus,
  form input[type="submit"]:hover {
    border-color: #f29f27;
    background-color: var(--last-orange);
  }
  .deck {
    background-color: var(--off-white);
  }

  .deck, .work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }
  .deck img, .work, img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(-110deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  .hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(12, 12, 10, 0.8);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(12, 12, 10, 0.8);
  }
  .positioned {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 11;
  }
  .wave > svg {
  display: block;
  }

/* Divider Style Section */
/* --------------------- */

/* Common style for pseudo-elements */
section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

/* Individual Styles */
.ss-style-halfcircle::before {
	left: 50%;
	z-index: 10;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: inherit;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.ss-style-halfcircle::before {
	top: -50px;
}

/* Double Diagonal line */
.ss-style-doublediagonal {
	z-index: 1;
	padding-top: 6em;
}
.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.ss-style-doublediagonal::before {
	height: 50%;
	background: #116094;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}

/* Hero Animation */
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
