  * {
    box-sizing: border-box;
  }

  :root {
    --off-white: #f6f3ea;
    --near-black: #252934;
    --last-orange: #ee7752;
    --green-blue: #23d5ab;
    --blue: #23a6d5;
  }

  body {
    margin: 0;
  }
  html {
    font-family: 'futura-pt', helvetica, san-serif;
    font-size: 100%;
    color: rgba(12, 12, 10, 0.8);
    font-weight: 400;
  }
  h1 {
    font-size: 2.6em;
  }
  h1 span {
    color: var(--off-white);
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: #111;
  }
  form {
    width: 75%;
    margin: 25px auto 0 auto;
    color: var(--near-black);
  }
  form h1 {
    margin: 0 0 25px 0;
    line height: 2em;
    padding-top: 1em;
  }
  form div {
    margin: 0 0 20px 0;
  }
  form div:last-of-type {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(215,255,185,.4)
  }
  form input,
  form textarea {
    padding: 5px 12px;
    width: 80%;
    color: #fff;
    font-size: .9em;
    background-color: rgba(246, 243, 234,.8);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  form input[type="submit"] {
    width: auto;
    padding: 5px 20px;
    cursor: pointer;
  }
  form input[type="radio"] {
    width: auto;
    margin-right: 5px;
  }
  form input:focus,
  form textarea:focus,
  form input[type="submit"]:hover {
    border-color: #f29f27;
    background-color: var(--last-orange);
  }
  .contact-form {
    background-color: var(--blue);
  }
  .deck, .work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
  }
  .deck img, .work, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(-110deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  .hero .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(12, 12, 10, 0.8);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(12, 12, 10, 0.8);
  }
  .positioned {
    position: sticky;
    top: 0px;
    left: 0px;
  }
  .wave-buffer {
    background-image: url(./wave.svg);
    background-size: cover;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
